.main-content-container .main-content-2-container .main-content-2-wrapper {
    padding: 180px 0 140px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: 1239px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper {
      padding-left: 30px;
    }
  }
  @media (max-width: 959px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper {
      padding-left: 60px;
    }
  }
  @media (max-width: 569px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper {
      padding-left: 45px;
    }
  }
  @media (max-width: 459px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper {
      padding-top: 120px;
      padding-left: 35px;
    }
  }
  @media (max-width: 369px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper {
      padding-left: 25px;
    }
  }
  .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper {
    margin-bottom: 40px;
  }
  .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-title-wrapper .main-content-2-header {
    font-size: 72px;
    max-width: 500px;
    margin: 0;
    color: white;
  }
  @media (max-width: 739px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-title-wrapper .main-content-2-header {
      font-size: 65px;
    }
  }
  @media (max-width: 679px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-title-wrapper .main-content-2-header {
      font-size: 55px;
      max-width: 400px;
    }
  }
  @media (max-width: 569px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-title-wrapper .main-content-2-header {
      font-size: 50px;
      max-width: 320px;
    }
  }
  @media (max-width: 459px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-title-wrapper .main-content-2-header {
      font-size: 40px;
      max-width: 300px;
    }
  }
  @media (max-width: 409px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-title-wrapper .main-content-2-header {
      font-size: 37px;
      max-width: 280px;
    }
  }
  @media (max-width: 369px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-title-wrapper .main-content-2-header {
      font-size: 35px;
      max-width: 270px;
    }
  }
  @media (max-width: 349px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-title-wrapper .main-content-2-header {
      font-size: 30px;
      max-width: 240px;
    }
  }
  .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-content-wrapper {
    max-width: 500px;
    line-height: 1.72;
    color: white;
  }
  @media (max-width: 679px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-content-wrapper {
      padding-right: 50px;
    }
  }
  @media (max-width: 569px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-content-wrapper {
      font-size: 14px;
    }
  }
  @media (max-width: 369px) {
    .main-content-container .main-content-2-container .main-content-2-wrapper .main-content-2-text-wrapper .main-content-2-content-wrapper {
      font-size: 12px;
    }
  }
  .main-content-container .main-content-2-container .main-content-2-wrapper .content-2-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    color: #2118a9;
    border-radius: 50px;
    padding: 13px 30px 11px;
    font-weight: 700;
    cursor: pointer;
  }
  .main-content-container .main-content-2-container .main-content-2-wrapper .content-2-button:hover {
    color: #7c74f1;
  }