.cars-page-content-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 20px;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    padding: 50px 100px 50px;
    border-radius: 15px;
}

.cars-page-title {
    color: darkblue;
    margin-bottom: 30px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.cars-label {
    font-size: 16px;
    margin: 3px 15px 3px 5px;
    color: darkblue;
    font-weight: 600;
}

.cars-input {
    padding: 5px;
    border: none;
    font-size: 15px;
    background-color: rgb(241, 241, 241);
}

.cars-button {
    padding: 10px 40px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    background-color: darkblue;
    border: 1px solid darkblue;
    border-radius: 20px;
    margin-top: 50px;
    cursor: pointer;
}

.car-name {
    color: darkblue;
    display: flex;
    justify-content: center;
}

.student-form-price-title {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;

}

.student-form-price-title-total {
    color: darkblue;
    text-transform: uppercase;
}

.car-form-prices-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid darkblue;
}

.student-form-prices-list, 
.student-form-prices-list-total {
    list-style-type: none;
    padding-left: 0;
}

.semibold {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}

.blue-price {
    color: darkblue;
}

.car-form-price-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.student-form-prices-list-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
}