.counter-content-wrapper {
    text-align: center;
    padding-top: 60px;
}

.counter-title {
    font-size: 60px;
    margin-bottom: 5px;
    color: purple;
    text-transform: uppercase;
}

.counter-title-description {
    color: purple;
    font-size: 17px;
    margin: 5px 0 100px;
    font-weight: 600;
}

.counter-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
}

.counter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.counter-inputs-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    gap: 22px;
    justify-content: space-between;
    align-items: flex-end;
}

.color-buttons-wrapper {
    display: flex;
    gap: 7px;
    justify-content: space-between;
}




.counter-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-label {
    font-size: 15px;
    color: rgb(69, 69, 69);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
}

.counter-label {
    font-size: 15px;
    color: rgb(69, 69, 69);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
}

.counter-input {
    border: none;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 5px 7px 3px rgba(0, 0, 0, 0.2);
}

.grades-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.counter-original-number {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}





.counter-grades-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: white;
    padding: 50px 50px 30px 80px;
    border-radius: 20px;
    box-shadow: 0 10px 15px 7px rgba(0, 0, 0, 0.2);
}

.no-grades-line {
    font-weight: 600;
}

.grades-output-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.grades-list-item {
    color: rgb(69, 69, 69);
    font-weight: 600;
}






.button-delete {
    background-color: rgb(189, 34, 34);
    color: white;
    font-weight: 600;
    border: 1px solid rgb(189, 34, 34);
    border-radius: 5px;
    padding: 3px 7px;
    font-size: 10px;
    cursor: pointer;
}

.button {
    padding: 7px 15px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 5px 7px 3px rgba(0, 0, 0, 0.2);
}




.text-green {
    color: green;
}

.text-red {
    color: rgb(195, 25, 25);
}

.text-purple {
    color: purple;
    margin: 0;
}





.berry {
    color: white;
    background-color: rgb(236, 67, 95);
    border: 2px solid rgb(236, 67, 95);
}

.green {
    color: white;
    background-color: rgb(72, 145, 70);
    border: 2px solid rgb(72, 145, 70);
}

.orange {
    color: white;
    background-color: rgb(217, 109, 0);
    border: 2px solid rgb(217, 109, 0);
}

.blue {
    color: white;
    background-color: rgb(20, 97, 220);
    border: 2px solid rgb(20, 97, 220);
    padding: 7px 30px;
}

.purple {
    color: white;
    background-color: purple;
    border: 2px solid purple;
    padding: 12px 60px;
}



.berry:hover {
    background-color: rgb(199, 41, 67);
    border-color: rgb(199, 41, 67);
}

.green:hover {
    background-color: rgb(39, 115, 36);
    border-color: rgb(39, 115, 36);
}

.orange:hover {
    background-color: rgb(173, 87, 0);
    border-color: rgb(173, 87, 0);
}

.blue:hover {
    color: white;
    background-color: rgb(1, 74, 192);
    border-color: rgb(1, 74, 192);
}

.purple:hover {
    background-color: rgb(106, 0, 106);
    border-color: rgb(106, 0, 106);
}




.berry:active {
    background-color: rgb(239, 119, 139);
    border-color: rgb(239, 119, 139);
}

.green:active {
    background-color: rgb(84, 177, 84);
    border-color: rgb(84, 177, 84);
}

.orange:active {
    background-color: rgb(244, 141, 38);
    border-color: rgb(244, 141, 38);
}

.blue:active {
    color: white;
    background-color: rgb(53, 127, 245);
    border-color: rgb(53, 127, 245);
}

.purple:active {
    background-color: rgb(173, 8, 173);
    border-color: rgb(173, 8, 173);
}




.disabled:disabled {
    border-color: rgb(162, 162, 162);
    color: rgb(162, 162, 162);
    background-color: rgb(236, 233, 233);
}

.disabled:disabled:hover {
    border-color: rgb(162, 162, 162);
    color: rgb(162, 162, 162);
    background-color: rgb(236, 233, 233);
}


