*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.view-projects-wrapper {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.view-projects-title {
  font-size: 45px;
  font-weight: 700;
  color: #d6a700;
  text-transform: uppercase;
}

.view-projects {
  padding: 7px 50px;
  background-color: black;
  border: 1px solid black;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 20px;
}

.view-projects:hover {
  background-color: #d6a700;
  border-color: #d6a700;
}

.route-list {
  list-style-type: none;
  padding-left: 0;
  font-family: 'Poppins', sans-serif;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.route-list-item {
  background-color: white;
  padding: 20px 20px 40px;
  border-radius: 10px;
}

.route-list-item:hover {
  background-color: #d6a700;
}



.route-list-item-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.route-list-item:hover .route-list-item-link {
  color: white;
  filter: grayscale(0%);
}

.contentnav-project-title {
  font-size: 22px;
  margin-top: 0;
}


.route-list-item:hover .route-list-item-link .project-pic {
  filter: grayscale(0%);
}

.project-github-link {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #d6a700;
}

.route-list-item:hover .project-github-link {
  color: rgb(81, 71, 51);
}

.route-list-item .project-github-link:hover {
  padding-bottom: 3px;
  border-bottom: 3px solid rgb(251, 197, 82);
  color: rgb(251, 197, 82);
}

.project-pic {
  width: 380px;
  height: 250px;
  object-fit: cover;
  filter: grayscale(100%);
}

